body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('hk_background.jpg'); /* Set the background image with transparency */
    background-size: cover; /* Cover the entire content area */
    background-position: center; /* Center the background image */
    background-attachment: fixed;

}


body::before {
    content: '';
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; /* Ensure this is behind the content */
}

header {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    z-index: 100; /* Ensure header is above other content */
    text-align: center; /* This will center all text within the header */

} 

header:hover {
    background-color: rgba(242, 227, 23, 0.3); /* Darker shade on hover for subtle interaction */
    
}



h1 {
    margin: 0; /* Adjusted margin to clear the header */
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    font-family: fantasy;
}

#slogan{
    font-size: 1em;
    margin-top: 10px;
    font-weight: normal;
    color: black;
    animation: blink-animation 5s linear infinite; /* Apply the blink animation */
  }
  
  /* Define the keyframes for the blinking animation */
  @keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.user-info p {
    margin: 3px 0; /* Adjust this value to your liking */
    display: flex;
    justify-content: flex-end;
}

.user-info button {
    padding: 5px 10px; /* Adjust this value to your liking */
    font-size: 14px; /* Adjust this value to your liking */
    /* Other styles... */
}

.sidebar {
    position: relative;
    top: 100px + 1%; /* Adjusted to clear the header */
    width: 100%;
    height: 40px; /* Adjusted height to clear the header */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items horizontally in the center */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    z-index: 1; /* Ensure sidebar is above other content */

    
}




.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-menu ul li {
    margin-right: 20px; /* Add space to the right of each list item */
}

.nav-menu ul li button {
    font-size: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
    border: none;
    background: none;
    color: black;
    transition: transform 0.3s ease, font-weight 0.3s ease; /* Smooth transition for transform and font-weight */
   
}

.nav-menu ul li button:hover, .nav-menu ul li button:focus {
    transform: scale(1.2); /* Enlarge button text */
    font-weight: bold; /* Make button text bold */
}


.content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;

}


/* Ensure buttons and links have a consistent style */
button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #005f73;
}

.container {

    position: relative;
    align-items: center; /* Aligns items to the start of the flex container */
    box-sizing: border-box;
    width: 100%;
    z-index: 1; /* Ensure container is above other content */
    

}


.controls {
    text-align: center;
    margin-bottom: 20px;
}

.controls button, .controls select {
    padding: 10px;
    margin-right: 10px;
    outline: none;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.item {
    background: white;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.item p {
    font-size: 16px;
}
