<form class="login-form">
    <h2>Login</h2>
    <input type="text" placeholder="Username" required>
    <input type="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<script src="../model.js"></script>
<script>
    //When the login button is pressed Validate the form
    document.querySelector(".login-form button").addEventListener("click", function (event) {
        event.preventDefault();
        let username = document.querySelector(".login-form input[type='text']").value;
        let password = document.querySelector(".login-form input[type='password']").value;
        const result = loginUser(username, password);
        alert(result);
    });

</script>