<!--Display all my booking-->
<style>
/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: black;
    text-align: center;
    margin-bottom: 30px; /* Space between the title and the booking cards */
}

.booking {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; /* Space between bookings */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.booking h2 {
    color: black /* Highlight color for workspace name */
    margin-bottom: 15px;
}

.booking p {
    font-size: 16px;
    color: #666; /* Dark gray for text for better readability */
    margin: 5px 0 15px; /* Adds a little space between paragraphs */
}

.booking button {
    display: block; /* Makes the button take full width of the booking card */
    width: auto;
    padding: 10px 15px;
    background-color: #28a745; /* A green color indicating a positive action like giving a rating */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.booking button:hover {
    background-color: #218838; /* A darker green on hover for better interaction feedback */
}


</style>



<div class="container">
    <h1>My Bookings</h1>
    <div id="myBookings"></div>
</div>
<script src="../script.js"></script>
<script>
    //Load the bookings from Local Storage
    let bookings = JSON.parse(localStorage.getItem("bookings")) || [];
    //Get the user id from the session
    const user = JSON.parse(sessionStorage.getItem("user"));
    //Find the bookings by user id
    bookings = bookings.filter(b => b.userId == user.id);
    //Display the bookings
    const myBookingsDiv = document.getElementById("myBookings");
    console.log("bookings:" + JSON.stringify(bookings));
    bookings.forEach(booking => {
        const workspace = JSON.parse(localStorage.getItem("workspaces")).find(w => w.id == booking.wid);
        console.log("workspace:" + JSON.stringify(workspace));
        const myBookingDiv = document.createElement("div");
        myBookingDiv.className = 'booking';
        myBookingDiv.innerHTML = `
            <h2>${workspace.name}</h2>
            <p>${workspace.description}</p>
            <p>${workspace.price}</p>
            <p>${booking.date} ${booking.time} ${booking.duration} Hour(s)</p>
            <button onclick="location.href='ratingForm.html?id=${booking.id}'">Give Rating</button>
        `;
        myBookingsDiv.appendChild(myBookingDiv);
    });
</script>