<style>
/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.rating-form {
    background: white;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows vertical resize for textarea */
}

.form-group textarea {
    height: 100px; /* Provides enough space for comments */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Primary button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade on hover for visual feedback */
}


</style>

<form class="rating-form">
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" id="rating" required>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" required></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
<script src="../model.js"></script>
<script>
    parent.window.scrollTo(0, 0);
    //When the submit button is pressed Validate the form
    document.querySelector(".rating-form button").addEventListener("click", function (event) {
        event.preventDefault();
        //Get the rating by id
        let rating = document.getElementById("rating").value;

        //check if the rating is between 1 and 5
        if(rating < 1 || rating > 5){
            modelAlert("Rating must be between 1 and 5");
            return;
        }

        //Get the comment by id
        let comment = document.getElementById("comment").value;
        //Get the booking id from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const wid = urlParams.get('wid');

        //Get the property id from the URL
        const propertyId = urlParams.get('propertyId');

        //Call the rateBooking function
        const res = rateBooking(propertyId, wid, rating, comment);
        if(res.result){
            modelAlert(res.message, "propertiesList");
        } else {
            modelAlert(res.message);
        }
    });
</script>
