<form class="form">

    <h2>Register</h2>

    <input id="username" type="text" placeholder="Username" required>

    <input id="email" type="email" placeholder="Email" required>

    <input id="password" type="password" placeholder="Password" required>

    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required>

    <button id="register" type="submit">Register</button>
</form>
<script src="../model.js"></script>
<script>
    //When the register button is pressed Validate the form
    document.getElementById("register").addEventListener("click", function (event) {
        event.preventDefault();
        //Get username by id
        let username = document.getElementById("username").value;
        //Get email by id
        let email = document.getElementById("email").value;
        //Get password by id
        let password = document.getElementById("password").value;
        //Get confirmPassword by id
        let confirmPassword = document.getElementById("confirmPassword").value;
        
        const result = addUser(username, email, password, confirmPassword);
        alert(result);
    });

</script>