<style>
    /* Basic Reset */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Arial', sans-serif;
        overflow: hidden;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .container h1,
    .container h2 {
        text-align: center;
        color: black;
    }

    .container h1 {
        margin-bottom: 30px;
    }

    #workspace {
        padding: 20px;
        ;
        border-radius: 8px;
        margin-top: 20px;
    }

    #workspace h2 {
        margin-bottom: 15px;
        color: black;
    }

    #workspace p {
        font-size: 16px;
        margin-bottom: 10px;
        color: black;
    }

    #workspace img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    #workspace button {
        display: inline-block;
        /* Display buttons side by side */
        padding: 10px 15px;
        background-color: #28a745;
        color: white;
        text-align: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        /* Space between buttons */
        text-decoration: none;
    }

    #workspace button:hover {
        background-color: #218838;
    }

    #workspace button:last-child {
        margin-right: 0;
        /* Remove margin for the last button */
    }
</style>


<div class="container">
    <h1>Workspace</h1>
    <div id="workspace"></div>
</div>
<script src="../model.js"></script>
<script>
    //Get the workspace id from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    const propertyId = urlParams.get('propertyId');

    //Load the workspaces from Local Storage
    let workspace = getWorkspaces(propertyId, id) || [];

    //calculate the average rating
    let totalRating = 0;
    workspace.ratings.forEach(rating => {
        totalRating += rating.rating;
    });

    //round to int
    const averageRating = Math.round(totalRating / workspace.ratings.length);

    //Display the workspace
    const workspaceDiv = document.getElementById("workspace");
    workspaceDiv.innerHTML = `
        <h2>${workspace.name}</h2>
        <p>Description: ${workspace.description}</p>
        <p>Price: ${workspace.price}</p>
        <p>Rating: ${averageRating}</p>
        <img src="${workspace.photos[0]}" alt="${workspace.name}">
        <!--rating-->
        <button id="editBtn" onclick="location.href='workspaceForm.html?id=${workspace._id}'">Edit</button>
        <button id="deleteBtn" onclick="location.href='workspaceForm.html?id=${workspace._id}'">Delete</button>
        <button onclick="location.href='bookForm.html?wid=${workspace._id}'">Book this Workspaces</button>
        <button onclick="location.href='ratingForm.html?wid=${workspace._id}&propertyId=${workspace.property}'">Rate this Workspaces</button>
    `;

    const user = JSON.parse(sessionStorage.getItem("user"));
    const role = user?.role;
    if (role === "owner") {
        document.getElementById("editBtn").style.display = "block";
        document.getElementById("deleteBtn").style.display = "block";
    } else {
        document.getElementById("editBtn").style.display = "none";
        document.getElementById("deleteBtn").style.display = "none";
    }
</script>